{{/* gotype: github.com/JustaPenguin/assetto-server-manager.carDetailsTemplateVars */}}

{{ define "title" }}{{ $.Car.Details.Name }}{{ end }}

{{ define "content" }}
    <div class="car-details">
        <h1 class="text-center">{{ $.Car.Details.Name }}</h1>
        <div class="text-center mb-3">
            <small>({{ $.Car.Name}})</small>

            {{ if $.Car.IsPaidDLC }}<span class="badge bg-dlc">DLC</span>{{ end }}
            {{ if $.Car.IsMod }}<span class="badge bg-mod">Mod</span>{{ end }}
            {{ if not (or $.Car.IsPaidDLC $.Car.IsMod) }}<span class="badge bg-default-content">Por Defecto</span>{{ end }}

        </div>

        {{ if gt (len $.Car.Skins) 0 }}
            {{ $skin := index $.Car.Skins 0 }}

            <div class="row mb-3">
                <div class="col-8 col-md-10">
                    <img class="img img-fluid car-image" id="hero-skin" src="{{ carSkinURL $.Car.Name $skin }}" alt="{{ $.Car.Details.Name }}, skin {{ $skin }}">
                </div>

                <div class="col-4 col-md-2 car-skins">
                    {{ range $index, $skin := $.Car.Skins }}
                        <div class="car-skin">
                            <img class="img img-fluid car-image" src="{{ carSkinURL $.Car.Name $skin }}" alt="{{ $.Car.Details.Name }}, skin {{ $skin }}" title="{{ prettify $skin true }}" data-skin="{{ $skin }}" data-toggle="tooltip" data-placement="bottom">
                        </div>
                    {{ end }}
                </div>
            </div>
        {{ end }}

        <div class="row mb-3">
            <div class="col-md-10">
                <div class="row">
                    <div class="{{ if WriteAccess }}col-md-9{{ else }}col-md-12{{ end }}" id="tags">
                        {{ range $index, $tag := $.Car.Details.Tags }}
                            <span class="badge badge-primary">
                                <a class="text-white"
                                   href="/cars?q=%2Btags:%22{{ urlquery $tag }}%22"
                                >{{ $tag }}</a>

                                {{ if WriteAccess }}
                                    <a class="delete-tag text-white"
                                       href="/car/{{ $.Car.Name }}/tags?delete={{ $tag }}"
                                       data-tag="{{ $tag }}"
                                       data-car="{{ $.Car.Name }}"
                                       data-toggle="tooltip"
                                       title="Eliminar esta etiqueta"
                                    >
                                        <i class="fas fa-times ml-2"></i>
                                    </a>
                                {{ end }}
                            </span>
                        {{ end }}
                    </div>

                    {{ if WriteAccess }}
                        <div class="col-md-3 text-right">
                            <form id="add-tag" method="post" action="/car/{{ $.Car.Name }}/tags">
                                <div class="form-group row">
                                    <div class="col-9">
                                        <input type="text" class="form-control form-control-sm" id="new-tag" name="new-tag" required
                                               placeholder="Agregar una etiqueta nueva">
                                    </div>

                                    <div class="col-3">
                                        <button type="submit" class="btn btn-sm btn-primary">Ir</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-2 text-right">
                        </div>
                    {{ end }}
                </div>

                <div class="pt-2">
                    {{ with $.Car.Details.Notes }}
                        <h2>Notas</h2>

                        <p>{{ trustHTML . }}</p>

                        <h2>Descripción</h2>
                    {{ end }}

                    {{ with $.Car.Details.Notes }}
                    {{ end }}

                    {{ with $.Car.Details.Description }}
                        <p>{{ trustHTML . }}</p>
                    {{ else }}
                        <p>No hay descripción para este auto.</p>
                    {{ end }}
                </div>


                <h2>Setups</h2>

                {{ if gt (len $.Setups) 0 }}
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Circuito</th>
                            <th>Archivo de Setup</th>
                            {{ if DeleteAccess }}
                                <th class="text-center">Eliminar</th>
                            {{ end }}
                        </tr>
                        {{ range $trackName, $setups := $.Setups }}
                            {{ range $index, $setup := $setups }}
                                <tr>
                                    {{ if eq $index 0 }}
                                        <td rowspan="{{ len $setups }}">
                                            {{ prettify $trackName false }}
                                        </td>
                                    {{ end }}

                                    <td>
                                        <a href="{{ printf "/setups/download/%s/%s/%s" $.Car.Name $trackName $setup }}">
                                            {{ $setup }}
                                        </a>
                                    </td>

                                    {{ if DeleteAccess }}
                                        <td class="text-center">
                                            <a href="{{ printf "/setups/delete/%s/%s/%s" $.Car.Name $trackName $setup }}"><i class="fas fa-trash text-danger"></i></a>
                                        </td>
                                    {{ end }}
                                </tr>
                            {{ end }}
                        {{ end }}
                    </table>

                    {{ if WriteAccess }}
                        <p>Podés subir setups para este auto usando el formulario de abajo.</p>
                    {{ end }}
                {{ else }}
                    <p>No hay setups para este auto.{{ if WriteAccess }} Podés subir uno abajo.{{ end }}</p>
                {{ end }}


                {{ if WriteAccess }}
                    <form method="post" action="/setups/upload" enctype="multipart/form-data" class="mb-2">
                        <div class="form-group row">
                            <label for="Track" class="col-sm-3 col-form-label">
                                Circuito
                            </label>

                            <div class="col-sm-9">
                                <select class="form-control" name="Track" id="Track">
                                    <option value="generic">Genérico</option>

                                    {{ range $index, $track := .TrackOpts }}
                                        <option value="{{ $track.Name }}">
                                            {{ prettify $track.Name false }}
                                        </option>
                                    {{ end }}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="SetupFile" class="col-sm-3 col-form-label">
                                Archivo de Setup
                            </label>

                            <div class="col-sm-9">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="SetupFile" name="SetupFile" accept=".ini">
                                    <label class="custom-file-label" for="SetupFile">Elegir Setup</label>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success float-right">Subir Setup</button>

                        <div class="clearfix"></div>
                    </form>
                {{ end }}

                <h2>Sesiones</h2>

                <p>Este auto se usó en {{ len $.Results }} sesiones.</p>

                <div class="list-group overflow-auto mt-3 mb-3" style="max-height: 300px;">
                    {{ range $index, $session := $.Results }}
                        <a class="list-group-item list-group-item-action" href="/results/{{ $session.SessionFile }}">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-2 text-primary"><strong>{{ title (lower $session.Type.String) }}</strong></h5>
                                <small>{{ fullTimeFormat $session.Date }}</small>
                            </div>
                            <p class="mb-1">{{ prettify $session.TrackName false }} {{ with $session.TrackConfig }}({{ prettify . true }}){{ end }}</p>
                        </a>
                    {{ end }}
                </div>

            </div>

            <div class="col-md-2 border-left">
                <div class="mb-4">
                    {{ with $.Car.Details.DownloadURL }}
                        <div class="pb-2 text-center">
                            <a href="{{ . }}" class="btn btn-success d-block w-100" target="_blank">Descargar Auto</a>
                        </div>
                    {{ end }}
                </div>

                <h4>Neumáticos</h4>

                <ul class="list-unstyled">
                    {{ range $tyre, $name := $.Car.Tyres }}
                        <li>{{ $name }} ({{ $tyre }})</li>
                    {{ end }}
                </ul>

                <h4>Especificaciones</h4>

                <ul class="list-unstyled">
                    {{ with $.Car.Details.Specs.Acceleration }}<li><strong>Aceleración:</strong> {{ . }}</li>{{ end }}
                    {{ with $.Car.Details.Specs.BHP }}<li><strong>BHP:</strong> {{ . }}</li>{{ end }}
                    {{ with $.Car.Details.Specs.PWRatio }}<li><strong>Relación Potencia/Peso:</strong> {{ . }}</li>{{ end }}
                    {{ with $.Car.Details.Specs.TopSpeed }}<li><strong>Velocidad Máxima:</strong> {{ . }}</li>{{ end }}
                    {{ with $.Car.Details.Specs.Torque }}<li><strong>Torque:</strong> {{ . }}</li>{{ end }}
                    {{ with $.Car.Details.Specs.Weight }}<li><strong>Peso:</strong> {{ . }}</li>{{ end }}
                </ul>

                <h4>Acerca de</h4>

                <ul class="list-unstyled">
                    {{ with $.Car.Details.Author }}<li><strong>Autor:</strong> <a href="/cars?q=%2Bauthor:{{ . }}">{{ . }}</a></li>{{ end }}
                    {{ with $.Car.Details.Brand }}<li><strong>Marca:</strong> <a href="/cars?q=%2Bbrand:{{ . }}">{{ . }}</a></li>{{ end }}
                    {{ with $.Car.Details.Class }}<li><strong>Clase:</strong> <a href="/cars?q=%2Bclass:{{ . }}">{{ . }}</a></li>{{ end }}
                    {{ with $.Car.Details.Country }}<li><strong>País:</strong> <a href="/cars?q=%2Bcountry:{{ . }}">{{ . }}</a></li>{{ end }}
                    {{ with $.Car.Details.Year }}<li><strong>Año:</strong> <a href="/cars?q=%2Byear:{{ . }}">{{ . }}</a></li>{{ end }}
                    {{ with $.Car.Details.Version }}<li><strong>Versión:</strong> {{ . }}</li>{{ end }}
                </ul>

            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">

                {{ if WriteAccess }}
                    <form method="post" action="/car/{{ $.Car.Name }}/metadata">
                        <div class="card mt-3 border-primary mt-5 mb-3">
                            <div class="card-header text-white bg-primary">
                                <strong>Metadatos del Auto</strong>
                            </div>
                            <div class="card-body">

                                <div class="form-group row">
                                    <label for="DownloadURL" class="col-sm-3 col-form-label">URL de Descarga</label>

                                    <div class="col-sm-9">

                                        <input
                                                class="form-control"
                                                type="url"
                                                id="DownloadURL"
                                                name="DownloadURL"
                                                value="{{ $.Car.Details.DownloadURL }}"
                                                placeholder="ej. http://racedepartment.com/..."
                                        >

                                        <small>Los enlaces de descarga de los autos se mostrarán en la pantalla de información del servidor de Content Manager.</small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    {{ with $.Car.Details.Notes }}<div class="d-none" id="CarNotes">{{ trustHTML . }}</div>{{ end }}

                                    <label for="summernote" class="col-sm-3 col-form-label">Notas</label>

                                    <div class="col-sm-9" id="championship-info">
                                        <textarea id="summernote" name="Notes"></textarea>
                                        <div class="clearfix"></div>

                                        <small>Las notas se mostrarán a todos los usuarios cuando visiten esta página de auto.</small>
                                    </div>
                                </div>

                                <div class="float-right mt-5">
                                    <button class="btn btn-primary" type="submit">Guardar Metadatos del Auto</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="card mt-3 border-secondary mb-3">
                        <div class="card-header bg-secondary">
                            <strong>Skins</strong>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/car/{{ $.Car.Name }}/skin" id="skin-upload" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <label for="input-folder-skin" class="col-sm-3 col-form-label">Subir Skin</label>

                                    <div class="col-sm-9">
                                        <div class="btn-file btn btn-secondary d-inline-block align-top">
                                            Elegir un Skin
                                            <input id="input-folder-skin" name="input-folder-skin[]" type="file"
                                                   multiple webkitdirectory value="Choose Folder"/>
                                        </div>

                                        <button type="submit" class="btn btn-primary" id="upload-skin" style="display: none;">
                                            Subir
                                        </button>
                                    </div>
                                </div>
                            </form>

                            {{ if DeleteAccess }}
                                <hr>

                                <form action="/car/{{ $.Car.Name }}/skin/delete" method="post">
                                    <div class="form-group row">
                                        <label for="skin-delete" class="col-sm-3 col-form-label">Eliminar Skin</label>

                                        <div class="col-sm-9 row">
                                            <div class="col-8">
                                                <select class="form-control" name="skin-delete">
                                                    {{ range $index, $skin := $.Car.Skins }}
                                                        <option value="{{ $skin }}">{{ prettify $skin true }}</option>
                                                    {{ end }}
                                                </select>
                                            </div>

                                            <div class="col-4">
                                                <button type="submit" class="btn btn-danger">Eliminar Skin</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}

                {{ if DeleteAccess }}
                    <div class="card border-danger mt-3 mb-3">
                        <div class="card-header text-white bg-danger">
                            ¡Zona de Peligro!
                        </div>

                        <div class="card-body">
                            <p class="float-left">Eliminar permanentemente este auto y todos sus skins asociados.</p>

                            <a onclick="return confirm('¿Estás seguro de que querés eliminar permanentemente este auto y todos sus skins asociados?');"
                               class="btn btn-danger float-right"
                               href="/car/{{ $.Car.Name }}/delete">
                                Eliminar Auto
                            </a>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
