{{/* gotype: github.com/JustaPenguin/assetto-server-manager.manageAccountsTemplateVars */}}

{{ define "title" }}Administrar Cuentas{{ end }}

{{ define "content" }}
    <h1 class="text-center">Administrar Cuentas</h1>

    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Grupo</th>
            <th>Acciones</th>
        </tr>

        {{ range $index, $account := .Accounts }}
            <tr>
                <td>{{ $index }}</td>
                <td>{{ $account.Name }}</td>
                <td>{{ $account.Group }}</td>
                <td>
                    {{ if ne $account.Name "admin" }}
                        <a class="btn btn-warning" href="/accounts/edit/{{ $account.ID.String }}">
                            Editar
                        </a>
                        {{ if ne $.BaseTemplateVars.User.ID.String $account.ID.String }}
                            <a onClick="return confirm('Entiendo que esto va a eliminar esta cuenta permanentemente.') "
                               class="btn btn-danger" href="/accounts/delete/{{ $account.ID.String }}">
                                Eliminar
                            </a>
                        {{ end }}
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    </table>

    <div class="mt-3">
        <a class="btn btn-success float-right" href="/accounts/new">Agregar Cuenta</a>
    </div>
    <div class="clearfix"></div>


    <h2>Server Manager Abierto</h2>

    <p>Un Server Manager Abierto permite acceso de lectura a cualquiera sin necesidad de una cuenta.</p>

    {{ if $.ServerReadIsOpen }}
        <p class="d-inline-block mr-5 text-success">Server Manager está actualmente abierto.</p>

        <a href="/accounts/toggle-open" class="btn btn-danger d-inline-block">Cerrar</a>
    {{ else }}
        <p class="d-inline-block mr-5 text-danger">Server Manager actualmente no está abierto.</p>

        <a href="/accounts/toggle-open" class="btn btn-success d-inline-block">Abrir</a>
    {{ end }}
{{ end }}
