{{ define "acsr-rating" }}
    {{ with $.DriverRatings }}
        {{ $driverRating := index $.DriverRatings $.GUID }}

        {{ with $driverRating }}
            {{ if not $driverRating.IsProvisional }}
                <a class="acsr-link" href="https://acsr.assettocorsaservers.com/ratings/{{ anonymiseDriverGUID $.GUID }}">
                    <span data-toggle="tooltip" title="Habilidad de {{ $driverRating.NumEvents }} Sesiones" class="badge badge-primary acsr-badge--skill">{{ $driverRating.SkillRatingGrade }}</span>
                    <span data-toggle="tooltip" title="Seguridad de {{ $driverRating.NumEvents }} Sesiones" class="badge badge-success acsr-badge--safety">{{ $driverRating.SafetyRating }}</span>
                </a>
            {{ else }}
                <a class="acsr-link" href="https://acsr.assettocorsaservers.com/ratings/{{ anonymiseDriverGUID $.GUID }}">
                    <span data-toggle="tooltip" title="¡Este piloto necesita completar más carreras para tener una calificación precisa!" class="badge badge-warning acsr-badge--provisional">Provisional</span>
                </a>
            {{ end }}
        {{ else }}
            <span data-toggle="tooltip" title="¡Todavía no hay calificaciones para este piloto!" class="badge badge-warning acsr-badge--unranked">Sin Clasificar</span>
        {{ end }}
    {{ end }}
{{ end }}
